.login_section {
    width: 100svw;
    height: 100svh;
}

.login_container {
    display: grid;
    position: relative;
    width: 450px;
    min-width: 300px;
    height: 175px;
    margin: 0 auto;
    top: 8rem;
    background: #c5c4c4;
    border: 2px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    outline: 1px solid white;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.148);
    overflow: hidden;
    grid-template-rows: 22% auto;
    grid-template-columns: 18% 62% 20%;
    grid-template-areas: 
    'tap_login tap_login tap_login'
    'logo_icon login_input login_button';
}

@media screen and (width <= 500px) {
    .login_container {
        width: 85%;
        height: 180px;
    }
}

@media screen and (width <= 400px) {
    .login_container {
        height: 185px;
    }
}

@media screen and (width <= 500px) {
    .login_container {
        grid-template-rows: 22% auto auto;;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        'tap_login tap_login tap_login'
        'logo_icon login_input login_input'
        'login_button login_button login_button';
        
    }
}

.tap_login {
    grid-area: tap_login;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: calc(100% - 4px);
    height: 20px;
    top: 2px;
    margin: 0 auto;
    background: #091558;
}

.tap_login p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: bold;
    padding-left: 4px;
   
}

.tap_login .tap_button {
    display: flex;
    align-items: center;
    padding-right: 2px;
    cursor: default;
}

.tap_login .tap_button .login_question{
    position: relative;
    width: 16px;
    height: 16px;
    font-weight: bold;
    background: #c5c4c4;
    border: 1px solid white;
    border-right-color: black;
    border-bottom-color: black;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tap_login .tap_button .login_question:active {
    border: 1px solid black;
    border-right-color: white;
    border-bottom-color: white;
}

    
.login_question p {
    position: relative;
    font-size: 12px;
    color: black;
    right: 2px;
    bottom: 1px;
}


.login_x p {
    position: relative;
    font-size: 17px;
    color: black;
    bottom: 7px;
    right: 2px;

}


.logo_icon {
    grid-area: logo_icon;
    position: relative;
}

.logo_icon img {
    position: relative;
    width: 95px;
    height: auto;
    bottom: 1.2rem;
    right: 2px;
}

@media screen and (width <= 400px) {
    .logo_icon img {
        width: 80px;
        right: 5px;
    }
}

.login_input {
    grid-area: login_input;
    
}

.login_input .login_des {
    font-size: 11px;
    margin-bottom: 1rem;
    padding-right: 12px;
}

@media screen and (width <= 500px) {
    .login_input .login_des {
        margin-bottom: .5rem; 
    }
}

.login_input label {
    position: relative;
    font-size: 12px;
    margin-right: .8rem;

}

.login_input label::before {
    content: '_';
    position: absolute;
    top: -2px;
    font-size: 11px;
}

@supports (-webkit-touch-callout: none) {
    .login_input label::before {
        top: 2px;
    }
}

.login_input input {
    width: 150px;
    height: 20px;
    margin-bottom: 4px;
    border-radius: 0px;
    border: 2px solid black;
    border-right-color: white;
    border-bottom-color: white;
    padding-left: 3px;
    font-size: 12px;
}


.login_button {
    grid-area: login_button;
    position: relative;
}

.login_button .login_btn {
    display: grid;
    position: relative;
    place-items: center;
    width: 80px;
    height: 25px;
    margin-bottom: .4rem;
    border: 2px solid white;
    border-right-color: black;
    border-bottom-color: black;
    cursor: default;
}

.login_button .login_btn:active {
    border: 2px solid black;
    border-right-color: white;
    border-bottom-color: white;
}

.login_button .login_btn p {
    position: relative;
    top: 1px;
    font-size: 12px;
}

.login_question_mark {
    position: relative;
}

/* support only safari */
@supports (-webkit-touch-callout: none) {
    .login_question_mark {
        position: relative;
        top: -2px;
    }
}



@media screen and (width <= 500px){
    .login_button {
        display: flex;
        position: relative;
        gap: .5rem;
        justify-content: flex-end;
        right: .8rem;
    }

    .login_button .login_btn {
        position: relative;
        width: 72px;
        height: 25px;
    }

}

@media screen and (width <= 400px) {
    .login_button {
        right: 1.1rem;
    }
}

.mario_div {
    position: absolute;
    width: 450px;
    height: 50px;
    min-width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 4.6rem;

}

@media screen and (width <= 500px) {
    .mario_div {
        width: 85%;
    }
}

.mario {
    position: relative;
    width: 40px;
    z-index: 9999;
    left: -5%;
    /* animation: tunnel 2s ease, run 5s ease infinite forwards;
    animation-delay: 2.8s, 4.6s; */
    opacity: 0; 
    z-index: -2;
    transform-origin: bottom;
}



.tunnel {
    position: absolute;
    top: 55px;
    left: -1%;
    width: 38px;
    z-index: -1;
    animation: tunnel_disappear 10s ease-in-out forwards;
    transition: ease-in-out;
}

@keyframes tunnel_disappear {
    0%{
        top: 55px;
        opacity: 1;
    }
    30%{
        top: 25px;
    }

    60%{
        top: 25px;
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        top: 100px;
    }
}


/* @keyframes tunnel {
    0% {
        top: 0;
        left: -3%;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100% {
        left: -3%;
        top: -1.9rem;
        opacity: 1;

    }
} */

