.news_container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 540px;
    height: calc(100svh - 50px);
    background: #f2f2f183;
    top: 0.5rem;
    margin-left: 0.5rem;
    z-index: 9999999;
    gap: 10px;
    overflow-y: auto;
    padding: 1rem;
    padding-top: 3rem;
    border-radius: .3rem;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

}

/* Ensure 2 items per row with spacing */
.news_container > * {
    flex: 0 0 calc(50% - 10px);
}

.news_container h1 {
    position: absolute;
    z-index: 2;
    margin-top: -2.2rem;
    margin-left: 3px;
    color: #f5f5f6;
    font-weight: lighter;
    font-size: 22px;
}

.news_container .news {
    width: 48%; 
    height: 180px; 
    background: rgb(208, 169, 169);
    overflow: hidden;
    position: relative; 
    border-radius: 4px; 
    border: 1px solid rgb(25, 22, 22);
    cursor: pointer;
    margin-left: 2px;
}

.news_container .news:hover {
    border-color: rgb(224, 221, 221);
}

.news_container .news:hover > h5 {
    color: #c6c5c5;
}
.news_container .news:hover > img {
    opacity: 0.9;
}

.news_container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.news_container h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #151212d2; 
    color: rgb(249, 249, 249);
    padding: 8px;
    font-size: 13px;
    margin: 0;
}

.news_container::-webkit-scrollbar {
    width: 0px;
}

.weather_container {
    display: flex;
    position: absolute;
    width: fit-content;
    top: 1.1rem;
    right: 1.5rem;
    gap: 3px;
    z-index: 9999999999;
}

.weather_container h1 {
    position: relative;
    font-size: 16px;
    margin: 0;
}


.weather_container .location {
    position: relative;
    font-size: 14px;
    right: 4.5px;
    top: 3.5px;
    color: #f2f2f2;
    cursor: pointer;
} 

.weather_container .location:hover {
    color: #474747;
}

.temp {
   position: relative;
   margin-left: 4px;
   cursor: pointer;
}

.temp:hover {
   color: #474747; 
}


@media screen and (width <= 600px){
    .news_container {
        width: 97svw;
        margin-left: 0rem;
        left: .5rem;
    }  
}

@media screen and (width <= 400px){
    .news_container {
        left: .3rem;
    }  
}