
/* ------------ Folders ---------------- */

.folder_folder-open-project {
    display: none;
    position: fixed;
    width: 600px;
    min-width: 420px;
    min-height: 500px;
    height: 75%;
    background: #c5c4c4;
    border: 2px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    outline: 1px solid white;
    overflow: hidden;
    resize: both;
}
   

@media screen and (max-width: 450px) {
    .folder_folder-open-project {
        width: 95%;
        min-width: 300px;
    }
}

.folder_folder-open-project .folder_barbtn{
    display: flex;
    position: relative;
    margin-right: 4px;
    gap: 2px;
}

.folder_folder-open-project .folder_dragbar {
   display: flex;
   position: relative;
   height: 24px;
   width: 100%;
   margin-bottom: 1px;
   align-items: center;
   justify-content: space-between;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.folder_folder-open-project .file_edit_container {
    display: flex;
    position: relative;
    left: 2px;
    top: 2px;
    gap: 5px;
    font-size: 14px;
    padding-left: 10px;
    cursor: default;
}

.folder_folder-open-project .x {
    position: relative;
    bottom: 6px;
}


/* support only safari */
@supports (-webkit-touch-callout: none) {
    .folder_folder-open-project .x {
        bottom: 7px; 
        left: 1.5px;
    }
}



/* --------------------- */
.openproject_content {
    position: relative;
    width: calc(100% - 18px);
    height: calc(100% - 150px);
    margin: 0 auto;
    top: 10px;
    border: 1px solid black;
    border-bottom-color: white;
    border-right-color: white;
    background: white;
}

.address_container {
    display: flex;
    position: relative;
    width: calc(100% - 19px);
    height: 35px;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    top: 4px;
    margin: 0 auto;
    border: 3px groove rgb(215, 212, 212);
    border-left: none;
    border-right: none;
    cursor: default;
}
.address_container .address {
    position: relative;
}
.address_box {
    width: 100%;
    position: relative;
    padding-left: 4px;
    bottom: 0.5px;
    border: 2px solid black;
    border-bottom-color: #c6c5c5;
    border-right-color: #c6c5c5;
    color: black;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.address_box p {
    position: relative;
    top: 0px;
    white-space: nowrap;
    cursor: auto;
}

.address_box div {
    display: grid;
    position: absolute;
    place-items: center;
    width: 16px;
    height: 16px;
    right: 1px;
    top: 1px;
    background: #c5c4c4;
    border: 2px solid rgb(64, 62, 62);
    border-top-color: rgb(241, 241, 241);
    border-left-color: rgb(241, 241, 241);
}

.address_box div:active {
    border-right-color: rgb(241, 241, 241);
    border-bottom-color: rgb(241, 241, 241);
    border-top-color: rgb(64, 62, 62);
    border-left-color: rgb(64, 62, 62);
}

.address_box div > img {
    position: relative;
    width: 8px;
    height: 8px;
}

.address_container_btn {
    display: flex;
    position: relative;
    width: calc(100% - 18px);
    height: 40px;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    top: 4px;
    margin: 0 auto;
    border: 3px groove rgb(215, 212, 212);
    border-left: none;
    border-right: none;
    border-bottom: none;
    cursor: default;
}

.btn_addy {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 36px;
    height: 34px;
    filter: grayscale(100%);
    border: 1px solid rgba(255, 255, 255, 0);
}

.btn_addy:hover {
    background: rgb(212, 211, 211);
    border-right-color: #565555;
    border-bottom-color: #565555;
    border-top-color: white;
    border-left-color: white;
    filter: grayscale(20%);
}

.btn_addy img {
    position: absolute;
    width: 22px;
    height: 20px;
    top: -1px;
}

.btn_addy p {
    position: absolute;
    font-size: 9.5px;
    text-align: center;
    bottom: -2px;
    margin-left: 3px;
}



.addy_expand_container {
    display: grid;
    position: absolute;
    width: calc(100% - 49px);
    height: fit-content;
    background: white;
    border: 1px solid black;
    padding: 2px 0px;
    top: 1.55rem;
    right: 1px;
    z-index: 999999;
}

.addy_expand_container div {
    display: flex;
    gap: 4px;
    align-items: center;
}

.addy_expand_container p {
    padding-left: 4px;
}

.addy_expand_container div > span {
    color: #767373;
    font-size: 11px;
}

.addy_expand_container div:hover {
    background: #040482;
    color: white;
}

.ifram_text_container {
    position: relative;
    width: 100%;
    font-size: 10px;
    text-align: center;
    top: 13px;
}

.ifram_text_container a {
    color: rgb(4, 4, 209);
    text-decoration: underline;
    cursor: pointer;
}

.ifram_text_container a:hover {
    color: rgb(231, 231, 231);
}
