/* ------------ Folders ---------------- */

.folder_folder {
    display: none;
    position: fixed;
    width: 400px;
    min-width: 250px;
    min-height: 250px;
    height: 320px;
    background: #c5c4c4;
    border: 2px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    outline: 1px solid white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: both;
}

.folder_folder.photo_mode {
    min-width: 260px;
    width: 450px;
    height: 380px;
}

.folder_folder.paint_mode {
    min-width: 260px;
    width: 450px;
    height: 380px;
}


@media screen and (max-width: 450px) {
    .folder_folder {
        width: 84%;
        min-width: 300px;
    }
    .folder_folder.photo_mode {
        width: 90%;
        height: 300px;
    }
    .folder_folder.paint_mode {
        width: 90%;
        height: 370px;
    }
}

.folder_folder .folder_dragbar {
   display: flex;
   position: relative;
   height: 24px;
   width: 100%;
   margin-bottom: 1px;
   align-items: center;
   justify-content: space-between;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.folder_barname img {
    position: relative;
    width: 16px;
    top: 3px;
    margin-left: 5px;
}

.folder_barname span {
    position: relative;
    font-size: 15px;
    color: white;
    margin-left: 5px;
}

.folder_folder .folder_barbtn {
    display: flex;
    position: relative;
    margin-right: 4px;
    gap: 2px;
}

.folder_barbtn div {
    width: 17px;
    height: 17px;
    background: #c9c9c9;
    font-weight: bold;
    border: 1px solid black;
    border-top-color: rgb(198, 198, 198);border-left-color: rgb(198, 198, 198);
    box-shadow: inset 1px 1px #ffffff, 1px 1px #000000dd;
    cursor: default;
}

.folder_barbtn div:not(.expand):active {
    border-top-color: black;border-left-color: black;
    border-bottom-color: white;border-right-color: white;
}

.folder_barbtn .x {
    position: relative;
    text-align: center;
    font-size: 18px;
    bottom: 5px;
}

/* support only safari */
@supports (-webkit-touch-callout: none) {
    .folder_barbtn .x {
        bottom: 7px; 
        left: 1px;
    }
}

.folder_barbtn .dash {
    position: relative;
    width: 8px;
    top: 11px;
    margin: 0 auto;
    border-bottom: 2px solid black;
}
.folder_barbtn .expand {
    position: relative;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-left-color: black;
    box-shadow: none;
    margin: 0 auto;
    top: 3px;
}

.folder_barbtn .expand.full {
    position: relative;
    width: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-left-color: black;
    box-shadow: none;
    margin: 0 auto;
    top: 5px;
    right: 2px;
    z-index: 1;
}

.folder_barbtn .expand_2 {
    position: relative;
    width: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-left-color: black;
    box-shadow: none;
    margin: 0 auto;
    bottom: 6px;
    left: 1.5px;
}

.folder_folder .file_edit_container {
    display: flex;
    gap: 5px;
    font-size: 15px;
    padding-left: 10px;
    cursor: default;
}

.file_edit_container span {
    position: relative;
}

.folder_folder .folder_content {
    position: relative;
    width: calc(100% - 6px);
    height: calc(100% - 82px);
    border: 1px solid black;
    border-right-color: white;
    border-bottom-color: white;
    margin: 0 auto;
    margin-top: 2px;
    background: rgb(255, 255, 255);
}


.parent_item_container {
    height: calc(100%);
    overflow-y: auto;
    
}


.item_container {
    display: flex;
    width: fit-content;
    position: relative;
    flex-wrap: wrap;
    gap: 5px;
    padding: 8px 2px;
}


.item_container .item_1 {
    cursor: default;
}

.item_container img {
    width: 62px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.item_container .p_normal {
    color: black!important;
}

.item_container .item_1_p_focus {
    background: #091558;
    border: 1px dotted white;
    color: white;
  }



.folder_folder .btm_bar_container {
    display: flex;
    gap: 5px;
    width: calc(100% - 6px);
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4px;
    cursor: default;
} 

.btm_bar_container .object_bar {
    width: 80%;
    border: 1px solid black;
    border-right-color: white;
    border-bottom-color: white;
}
.btm_bar_container .size_bar {
    width: 55%;
    border: 1px solid black;
    border-right-color: white;
    border-bottom-color: white;
}

.btm_bar_container p {
    position: relative;
    font-size: 14px;
    padding-top: 2px;
    margin-left: 2px;
}



