.shitdown_bg_container {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    background: #040404;
}

.shitdown_bg_container img {
    position: absolute;
    width: 100%;
    max-width: 1500px;
    opacity: 0;
    animation: shuttingDown 4s forwards;
    animation-delay: 1s;
}

@media screen and (width < 500px) {
    .shitdown_bg_container img{
        transform: scale(1.6)
    }
}

@keyframes shuttingDown {
    0% {opacity: 0;}
    20% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.shitdown_bg_container .text_1_shutdown {
    position: absolute;
    width: 100%;
    max-width: 900px;
    font-size: 4svw;
    color: rgb(230, 133, 15);
    text-align: center;
    margin-top: -4rem;
    animation: shuttingDownText 3.75s;
    animation-delay: 1s;
    opacity: 0;
}

.shitdown_bg_container .text_2_shutdown {
    position: absolute;
    width: 100%;
    max-width: 900px;
    font-size: 4svw;
    color: rgb(230, 133, 15);
    text-align: center;
    margin-top: -4rem;
    animation: shuttingDownText 1s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@media screen and (min-width: 1200px) {
    .shitdown_bg_container .text_1_shutdown, .shitdown_bg_container .text_2_shutdown {
       font-size: 45px;
    }
}

@keyframes shuttingDownText {
    0% {opacity: 0;}
    20% {opacity: 1;}
    100% {opacity: 1;}
}



